<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backend</key>
	<dict>
		<key>type</key>
		<string>GitHub</string>
		<key>url</key>
		<string>https://github.com/loufranco/DocOMatKit/docs</string>
		<key>style</key>
		<string>tabs</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>Starting</string>
				<key>path</key>
				<string>getting-started</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Backends</string>
				<key>path</key>
				<string>back-ends</string>
			</dict>
			<dict>
				<key>title</key>
				<string>License</string>
				<key>path</key>
				<string>license</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
